<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="com.virtual.util.persist.provider.VPersistProvider"
            android:authorities="com.virtual.util.persist.provider.VPersistProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>